* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Sriracha', cursive;
}
.carousel-item {
    max-height: 33vh;
    overflow-y: hidden;
}
li[data-target="#carouselExampleCaptions"] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
li[data-target="#carouselExampleCaptions"]:not(.active) {
    background-color: green;
}